body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #a9abb4;
}

.loginForm {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

h1 {
  margin: 0 0 24px 0;
  color: aqua;
  font: italic small-caps bold 56px/2 cursive;
  text-align: center;
}

.Btn {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
  border-radius: 10px;
  font-style: italic;
}

label {
  margin: 5px 20px 5px 0;
  color: blue;
  font-style: italic;
}

input {
  vertical-align: middle;
  margin: 5px 50px 5px 0;
  padding: 10px;
  background-color: rgb(241, 236, 236);
  border: 1px solid #ddd;
  border-radius: 10px;
}
span {
  margin: 0 20px;
}
ul {
  list-style-type: square;
}
