.loginForm {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 10px;
}

h1 {
  margin: 0 0 24px 0;
  color: aqua;
  font: italic small-caps bold 56px/2 cursive;
  text-align: center;
}
h2 {
  text-align: center;
}
.Btn {
  padding: 10px 20px;
  background-color: #1c4685;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
  border-radius: 10px;
  font-style: italic;
  height: 40px;
  width: 100px;
}

label {
  margin: 5px 35px 5px 25px;
  color: white;
  font-style: italic;
  font-weight: bold;
}

input {
  vertical-align: middle;
  margin: 5px 20px 5px 0;
  padding: 10px;
  border: 1px solid #3251db;
  border-radius: 10px;
  width: 350px;
}
