.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  bottom: 0;
  padding: 5px 20px;
  width: 100%;
  background-color: rgb(163, 211, 243);
  color: white;
  text-align: center;
  height: 60px;
}
p {
  margin: 1rem;
  font-size: 1.3rem;
}

a {
  color: white;
  margin: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 20px;
}
a:hover {
  color: rgb(27, 22, 105);
}
@media (max-width: 600px) {
}
